<div class="container">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <div class="crud-links">
    <%= link_to "<-- Back to Tasks", tasks_path %>
    <%= link_to "Edit this task", edit_task_path %>
  </div>
</div>
